/*entry.html*/

header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	border-bottom: 1px solid #000;
	padding-bottom: 10px;
}

input, textarea {
	font-size: 25px;
	margin: 5px 0;
}


#save {
	background-color: #00FFE9;
	padding: 10px 0;
}


#entry, #landing {
	display: flex;
	justify-content:center;
	width: 100%;
}

#entry-info {
	display: flex;
	flex-direction: column;
	width: 45%;
}

#entry-info > p {
	text-align: center;
}

#image {
	position: relative;
	width: 55%;
	height:90vh;
	margin-left: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

#front-triangle {
	width: 0;
     height: 0;
     border-style: solid;
     border-width: 25vw 24vw 0 23vw;
     border-color: #00FFE9 transparent transparent transparent;
     transform-origin: right;
     transform: rotate(-4deg);
     display: inline-block;
     position: absolute;
     z-index: 1;
     margin-top: 83px;	
}


#back-triangle {
	width: 0;
     height: 0;
     border-style: solid;
     border-width: 0px 23vw 28vw 22vw;
     border-color: transparent transparent green transparent;
     transform-origin: top;
     transform: rotate(8deg);
     display: inline-block;
     position: absolute;
     z-index: 0;
     margin-top: -83px;
     margin-left: 41px;
}

/*update.html*/

#update {
	width: 100%;
	/*margin: auto;*/
	display: flex;
	justify-content: space-around;
}

#current-info, #update-info {
	width: 45%;
}

#update-info {
	margin-left: 20px;
}

#current-info {
	margin-right: 20px;
	text-align: left;
}

#settings {
	text-align: center;
	border: 1px solid black;
	padding-bottom: 10px;
	margin-top: 10px;
}

#settings > p {
	border: 1px solid black;
	width: 77%;
	margin: auto;
	margin-top: 10px;
}

#settings > input {
	width: 405px;
}

#settings > button {
	width: 77%;
	margin: auto;
}

/* index.html*/
footer {
	display: flex;
	justify-content: space-around;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin-bottom: 10px;
}

a {
	text-decoration: none;
}

.active {
	border-bottom: 3px solid #00FFE9;
}